<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
        {% load static %}
        <link
            href="{% static 'user_projects' %}/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            href="{% static 'user_projects' %}/css/font-awesome.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{% static 'user_projects' %}/css/bootstrap-tagsinput.css"
        />
    </head>
    <body>
        <!-- As a link -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
        </nav>

        <div class="row">
            {%block content%} {% endblock %}
        </div>

        <script src="{% static 'user_projects' %}/js/JQuery-3.3.1.min.js"></script>
        <script src="{% static 'user_projects' %}/js/popper.js"></script>
        <script src="{% static 'user_projects' %}/js/bootstrap.min.js"></script>
        <script src="{% static 'user_projects' %}/js/bootstrap-tagsinput.js"></script>
        <script src="{% static 'user_projects' %}/js/add_project.js"></script>
    </body>
</html>
